                   #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #563D7C;
  border-left: 16px solid #563D7C;
  border-bottom:16px solid #DC4D41;
  border-right:16px solid #DC4D41;
  
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.carousel-inner img{
    width: 100%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  
}
            @media only screen and (min-width:100px)
            {
                .image-responsive
                {
                    height: 100px;
                    
                }
                .list-group{
                    font-size: 10px;
                }
               
                 }
            
            @media only screen and (min-width:480px)
            {
                .image-responsive
                {
                    height: 120px;
                    
                }
                .list-group{
                    font-size: 12px;
                }
                .navbar-left{
                margin-left:auto;
            }
            
            }
               @media only screen and (min-width:100px) and (max-width:360px)
               {
                    .slider-automatic{
                    font-size: 9px;
                    margin-left: -50px;
                    position: absolute;
                }
                .list-group li .btn-download, .list-group li .btn-episode,
                 .button-link
                {
                    font-size: 10px;
                }
               }
               @media only screen and (min-width:380px) and (max-width:580px)
               {
                 .carousel-caption .title-episode{
                    font-size: 12px;
                   
                }  
                 .carousel-caption .title-judul-episode{
                    font-size: 12px;
                   
                }  
                .slider-automatic{
                    font-size: 9px;
                }
                .canvas-rilisdasd423gjdfas{
                    margin-left: -70px;
                }
                .list-group li .btn-download, .list-group li .btn-episode
                {
                    font-size: 10px;
                }
                  .button-link
                {
                    font-size: 10px;
                }
                
               }
            @media only screen and (min-width:640px)
            {
                .navbar-form .navbar-left{
                margin-left:auto;
            }
                .list-group{
                    font-size: 12px;
                }
                 .list-group li .btn-download, .list-group li .btn-episode,
                 .button-link
                {
                    font-size: 12px;
                }
            }
            .navbar-inverse .navbar-nav li a{
                color:white;
                font-family: sans-serif;
            }
             .navbar-inverse .navbar-nav .dropdown .dropdown-menu{
                background-color: black;
                font-family: sans-serif;
            }
           
            .navbar-inverse .navbar-nav li a:hover{
                color:white;
                background-color:#4A8AF4;
                font-family: sans-serif;
               
            }
            .navbar-inverse .navbar-nav .active a{
                 background-color:#4A8AF4;
                 color: white;

            }
            .navbar-inverse .navbar-brand
            {
                color:white;
            }
            .navbar-inverse .navbar-brand:hover
            {
                color:white;
                background-color:#4A8AF4;
                font-family: sans-serif;
            }
            
            
            .navbar-left{
                margin-left: 200px;
            }
            
